= provide(:title, "About")
h1 About
markdown:
  The [Ruby on Rails Tutorial] is a [book] and [screencast series] to teach web
  development with [Ruby on Rails].

  This is the sample application for the tutorial.

  [Ruby on Rails Tutorial]: http://www.railstutorial.org/
  [book]: http://www.railstutorial.org/book
  [screencast series]: http://screencasts.railstutorial.org/
  [Ruby on Rails]: http://rubyonrails.org/
